body{
    background-color: rgb(233,233,233);
    color: black;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
}
body::-webkit-scrollbar { width: 0 !important }

nav{
    color: #FFF;
}

/* Classes*/
.main-top{
    margin-bottom: 0px;
}
.main-bot{
    margin-top: 0px;
}
.header{

}

.col-12{
    padding-left: 0;
    padding-right: 0;
}

/** Text classes **/
.text-bold{
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.text-sub{
    font-family: europa, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.text-center{
    text-align: center;
}

/* ID's*/
#all-content{
}
#title{
    position: absolute;
    top:30%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;


    text-shadow: 4pt 4pt 2pt #000
}
#downScroll{
    position: absolute;
    left: 40%;
    bottom: 5%;
    text-align: center;
    width:20vh;

    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

}

/* Animations */
@keyframes bounce {
    0% {bottom: 5%;}
    50% {bottom: 10%;}
    100% {bottom: 5%;}
}
@-webkit-keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(100px);}
    100% {transform: translateY(0);}
}
@media screen and (max-width: 579px) {
    #homeVideo{
        display: none;
    }
}
