/* Classes*/
body{
    background-color: rgb(233,233,233);
    color: black;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
}
body::-webkit-scrollbar { width: 0 !important }

.header{
    height: 100vh;
    background-color: black;
    background-image: url("/Content/HtmlImages/Public/Images/General/WebSite/homeSplashImg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myRow{
   background-color:#000;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Content/HtmlImages/Public/Images/General/WebSite/youtubeBG.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height:20vh;
}

.btn-outline-dark{
    border: 4px solid rgb(255,0,0);
}
/* ID's*/
#all-content{
}
#title{
    position: absolute;
    top:30%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;


    text-shadow: 4pt 4pt 2pt #000
}
#downScroll{
    position: absolute;
    left: 40%;
    bottom: 5%;
    text-align: center;
    width:20vh;

    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

}

/* Animations */
@keyframes bounce {
    0% {bottom: 5%;}
    50% {bottom: 10%;}
    100% {bottom: 5%;}
}
@-webkit-keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(100px);}
    100% {transform: translateY(0);}
}
